In [1]:
import tushare

In [2]:
tushare.set_token('39b6846392b19021d2011590e090807716e669fcaeb7e0694b5e1cd8')

In [4]:
pro = tushare.pro_api()

In [11]:
pro.trade_cal?

In [12]:

df = pro.trade_cal(exchange_id='', start_date='20180101', end_date='', fields='', is_open='0')

In [14]:
df.head()

  exchange_id  cal_date  is_open
0         SSE  20180101        0
1         SSE  20180106        0
2         SSE  20180107        0
3         SSE  20180113        0
4         SSE  20180114        0

In [15]:
df = pro.query('trade_cal', exchange_id='', start_date='20180101', end_date='', fields='pretrade_date', is_open='0')

In [16]:
df.head()

  pretrade_date
0      20171229
1      20180105
2      20180105
3      20180112
4      20180112