In [1]:
from jaqs.data import DataApi

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [64]:
api.login?

In [3]:
api = DataApi(addr="tcp://data.quantos.org:8910")
phone='15566028568'
token='eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MzU1OTg2MTI0NzYiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTU1NjYwMjg1NjgifQ.ToTAnVWpKtweGj4yoXhVW0pzHds7a9qQzXC8qLBui2g'
api.login(phone,token)

('username: 15566028568', '0,')

### 综述

数据接口	 主要内容	                       备注
daily	    提供历史日线数据	
bar	        提供历史分时数据和实时分时数据	    支持的范围包括：1分钟、5分钟、15分钟  
bar_quote	提供历史分时数据和实时分时数据	    支持的范围包括：1分钟、5分钟、15分钟
quote	    提供实时行情快照	
query	    提供参考数据查询服务	           范围非常广泛，包括证券信息、财务数据、指数、基金数据等

### 1.daily

* daily日线数据  标的代码，支持多标的查询，必要参数

开始日期 (start_date)，string或者int类型：若为string类型，格式"YYYY-MM-DD";，如"2017-08-01"；若为int类型，格式为YYYYMMDD，如20170801。必要参数。

结束日期 (end_date)，string或者int类型：若为string类型，格式"YYYY-MM-DD"，如"2017-08-01"；若为int类型，格式为YYYYMMDD，如20170801。必要参数。

Bar类型(freq)，支持日线("1d")，周线("1w")和月线("1m")。缺省为日线("1d")。

复权类型(adjust_mode)，string类型，None不复权，"post"为后复权，缺省为None，不支持前复权。

返回字段 (fields)，多字段以 "," 隔开，缺省时全字段返回。可选参数

In [4]:
df, msg = api.daily(
                symbol="600832.SH, 600030.SH", 
                start_date=20121026,
                end_date=20121130, 
                fields="open,high", 
                adjust_mode="post")

In [6]:
df.head()

  freq       high       open     symbol  trade_date
0   1d  66.576820  66.449765  600832.SH    20121026
1   1d  65.433325  64.925105  600832.SH    20121029
2   1d  65.814490  65.052160  600832.SH    20121030
3   1d  65.306270  65.052160  600832.SH    20121031
4   1d  66.068600  65.052160  600832.SH    20121101

* api 方法

'bar',
 'bar_quote',
 'close',
 'daily',
 'login',
 'logout',
 'query',
 'quote',
 'set_callback',
 'set_data_format',
 'set_heartbeat',
 'set_timeout',
 'subscribe',
 'unsubscribe'


市场名称	市场代码
深交所	SZ
上交所	SH
中金所	CFE
郑商所	CZC
大商所	DCE
上期所	SHF
上金所	SGE
中证指数	CSI
港交所	HK

证券类型	inst_type
股票	1
封闭式基金	2
LOF基金	3
ETF基金	4
分级基金	5
国债商品	6
商品	7

### 2.quote

In [14]:
symbol = '000001.SH'
fields = 'open,high,low,last,volume'

# 获取实时行情
df, msg = api.quote(symbol=symbol, fields=fields)
df

,date,high,last,low,open,symbol,time,volume
000001.SH,20180831,2732.075,2716.4127,2710.5368,2730.1132,000001.SH,102659000,40047917

### 3.bar

标的代码，支持多标的查询，必要参数。


       开始时间 (start_time)，精确到秒，int类型：格式为HHMMSS，如93235。string类型：格式为"HH:MM:SS"，如"09:32:35"。缺省为开盘时间。

    结束时间 (end_time)，精确到秒，int类型：格式为HHMMSS，如163235。string类型：格式为"HH:MM:SS"，如"16:32:35"。缺省为当前时间（日内）或者收盘时间（历史）。
    
    交易日 (trade_date)，int类型，格式为YYYYMMDD，如20170801。string类型：格式为"YYYY-MM-DD"，如"2017-08-01"。缺省为当前交易日。
    
    Bar类型(freq)，支持一分钟线("1M")，五分钟线("5M")和十五分钟线("15M")。缺省为一分钟线 ("1M")。
    
    返回字段 (fields)，多字段以 "," 隔开，缺省时全字段返回

In [31]:
df, msg = api.bar_quote(symbol=symbol, fields=fields,freq='5M',data_format='pandas',)

In [30]:
df

,freq,high,low,open,symbol,time,trade_date,volume
0,5M,2731.9640,2722.3668,2729.8707,000001.SH,93500,20180831,7761930.0
1,5M,2730.3954,2724.0023,2727.6293,000001.SH,94000,20180831,4085581.0
2,5M,2725.7873,2720.6338,2723.5764,000001.SH,94500,20180831,4189337.0
3,5M,2725.5364,2720.1309,2721.4415,000001.SH,95000,20180831,3403370.0
4,5M,2723.4607,2718.7682,2723.4607,000001.SH,95500,20180831,3124198.0
5,5M,2723.8419,2720.1568,2720.8247,000001.SH,100000,20180831,2598278.0
6,5M,2723.9746,2721.1146,2723.8419,000001.SH,100500,20180831,2219529.0
7,5M,2720.1692,2714.9915,2720.1692,000001.SH,101000,20180831,3510375.0
8,5M,2716.3758,2713.2559,2715.1085,000001.SH,101500,20180831,2948636.0
9,5M,2716.1728,2710.5874,2715.7713,000001.SH,102000,20180831,2885318.0
10,5M,2715.6874,2711.1208,2711.4662,000001.SH,102500,20180831,2462802.0
11,5M,2716.5814,2714.8943,2714.8943,000001.SH,103000,20180831,1716986.0

### 4.query


接口	          view	     分类
证券基础信息表	  jz.instrumentInfo	基础信息
交易日历表	   jz.secTradeCal	基础信息
分配除权信息表 	lb.secDividend	股票
复权因子表	   lb.secAdjFactor	股票
停复牌信息表	  lb.secSusp	股票
行业分类表	   lb.secIndustry	股票
行业代码表	   lb.industryType	股票
指数基本信息表	 lb.indexInfo	指数
指数成份股表	  lb.indexCons	指数
公募基金净值表	 lb.mfNav	基金

In [54]:
df, msg = api.query(
                view="jz.instrumentInfo", 
                fields="status,list_date, fullname_en, market", 
                filter="inst_type=1&status=1&symbol=", 
                data_format='pandas')

In [55]:
df.head()

  list_date market  name  status     symbol
0  19991110     SH  浦发银行       1  600000.SH
1  20001219     SH  民生银行       1  600016.SH
2  20030106     SH  中信证券       1  600030.SH
3  20021009     SH  中国联通       1  600050.SH
4  19970807     SH  国金证券       1  600109.SH

### data

In [58]:
from jaqs.data.dataservice import RemoteDataService
from jaqs.data.dataview import DataView
dv = DataView()
ds = RemoteDataService()

In [74]:
secs = '600030.SH,000063.SZ,000001.SZ'
props = {'start_date': 20160601, 'end_date': 20170601, 'symbol': secs,
       'fields': 'open,close,high,low,volume,pb,net_assets,eps_basic',
       'freq': 1,'username':phone,'password':token}
dv.init_from_config(props, data_api=)

Initialize config success.

In [75]:
dv.prepare_data()

Query data...
Query data - query...
NOTE: price adjust method is [post adjust]

AttributeError: 'DataApi' object has no attribute 'query_trade_dates'